OSB-Projects/VFQA_CSM_Common/Schema/VBO/Communication/V1/CommunicationVBO.xsd

<!--(c) Vodafone Group Services Limited. All rights reserved. This document 
	comprises proprietary and confidential information and copyright material 
	belonging to Vodafone Group Services Limited. Other than as permitted by 
	law, no part of this document may be reproduced, adapted, or distributed, 
	in any form or by any means, without the prior written consent of Vodafone 
	Group Services Limited. The information in this document is subject to change 
	without notice. All trademarks acknowledged. Vodafone Group Services Limited 
	- Confidential --><xsd:schema targetNamespace="http://group.vodafone.com/schema/vbo/technical/communication/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://group.vodafone.com/schema/vbo/technical/communication/v1" xmlns:cmn="http://group.vodafone.com/schema/common/v1" xmlns:cct="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" xmlns:extvbo="http://group.vodafone.com/schema/extension/vbo/technical/communication/v1">
	<xsd:annotation>
		<xsd:documentation>Schema definition for Communications</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://group.vodafone.com/schema/common/v1" schemaLocation="../../../CommonComponents.xsd"/>
	<xsd:import namespace="http://group.vodafone.com/schema/extension/vbo/technical/communication/v1" schemaLocation="Extension/ExtendedCommunicationVBO.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" schemaLocation="../../../CoreComponentType_2p0.xsd"/>
	<xsd:import namespace="http://group.vodafone.com/schema/common/v1" schemaLocation="../../../Meta.xsd"/>
	<xsd:complexType name="RelatedCommunicationType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Related Communications</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="Extension" type="extvbo:ExtendedRelatedCommunicationsType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SenderRoleType">
		<xsd:annotation>
			<xsd:documentation>A role to be undertaken by the Sender
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:ActorReferenceType">
				<xsd:sequence>
					<xsd:element name="Extension" type="extvbo:ExtendedSenderRoleType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReceiverRoleType">
		<xsd:annotation>
			<xsd:documentation>A role to be undertaken by the Receiver
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:ActorReferenceType">
				<xsd:sequence>
					<xsd:element name="Extension" type="extvbo:ExtendedReceiverRoleType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommunicationContactPointType">
		<xsd:annotation>
			<xsd:documentation>Contact Point type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="Email" type="cmn:EmailType"/>
						<xsd:element name="SMS" type="cmn:SMSType"/>
						<xsd:element name="Telephone" type="cmn:TelephoneType"/>
						<xsd:element name="Postal" type="cmn:PostalAddressType"/>
					</xsd:choice>
					<xsd:element name="Extension" type="extvbo:ExtendedCommunicationContactPointType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BodyType">
		<xsd:annotation>
			<xsd:documentation>Body type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Text" type="cct:TextType" minOccurs="0"/>
			<xsd:element name="ShortText" type="cct:TextType" minOccurs="0"/>
			<xsd:element name="Content" type="tns:ContentType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContentType">
		<xsd:annotation>
			<xsd:documentation>Content type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="Author" type="cmn:BaseComponentType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedContentType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommunicationAttachmentType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Attachment type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:AttachmentType">
				<xsd:sequence>
					<xsd:element name="Extension" type="extvbo:ExtendedAttachementType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SignatureType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Signature type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Text" type="cct:TextType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedSignatureType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrailerType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Trailer type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Text" type="cct:TextType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedTrailerType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HeaderType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Header type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Text" type="cct:TextType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedHeaderType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommunicationVBOType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Communication VBO type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:ExtendedBaseComponentType">
				<xsd:sequence>
					<xsd:element name="Details" type="tns:CommunicationDetailsType" minOccurs="0"/>
					<xsd:element name="RelatedCommunications" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RelatedCommunication" type="tns:RelatedCommunicationType" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Roles" type="tns:CommunicationRolesType" minOccurs="0"/>
					<xsd:element name="Parts" type="tns:CommunicationPartsType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedCommunicationVBOType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommunicationDetailsType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Details type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SentDateTime" type="cct:DateTimeType" minOccurs="0"/>
			<xsd:element name="ReceivedDateTime" type="cct:DateTimeType" minOccurs="0"/>
			<xsd:element name="Priority" type="cct:TextType" minOccurs="0"/>
			<xsd:element name="Subject" type="cct:TextType" minOccurs="0"/>
			<xsd:element name="DeliveryInd" type="cct:IndicatorType" minOccurs="0"/>
			<xsd:element name="ReadInd" type="cct:IndicatorType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedCommunicationDetailsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommunicationRolesType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Roles type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Sender" type="tns:SenderRoleType" minOccurs="0"/>
			<xsd:element name="Receiver" type="tns:ReceiverRoleType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedCommunicationRoleType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommunicationPartsType">
		<xsd:annotation>
			<xsd:documentation>Type definition for Parts type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ContactPoints" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ContactPoint" type="tns:CommunicationContactPointType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Body" type="tns:BodyType" minOccurs="0"/>
			<xsd:element name="Header" type="tns:HeaderType" minOccurs="0"/>
			<xsd:element name="Trailer" type="tns:TrailerType" minOccurs="0"/>
			<xsd:element name="Signature" type="tns:SignatureType" minOccurs="0"/>
			<xsd:element name="Attachments" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Attachment" type="tns:CommunicationAttachmentType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Specification" type="tns:SpecificationType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedCommunicationPartsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecificationType">
        <xsd:complexContent>
            <xsd:extension base="cmn:SpecificationType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedSpecificationType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>