Resources/XSD/Cust-Details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/Cust-Details" 
xmlns:tns="http://www.example.org/Cust-Details" elementFormDefault="qualified">
    <complexType name="EmpRequest">
    	<sequence>
    		<element name="EmpId" type="string"></element>
    	</sequence>
    </complexType>
    
    <complexType name="EmpResp">
    	<sequence>
    		<element name="EmpName" type="string"></element>
    		<element name="Gender" type="string"></element>
    		<element name="Designation" type="string"></element>
    	</sequence>
    </complexType>
</schema>