OSB-Build-Package/OSB-Artifacts/VFQA_CSM_Common/WSDL/VBS/Identity/ChangeAuthenticationCredential/V1/ChangeAuthenticationCredentialVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><wsdl:definitions name="ChangeAuthenticationCredential" targetNamespace="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/identity/authentication-credential/v1" xmlns:vbs="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">
	<wsdl:documentation>
	    The Change Authentication Credential is a Task Service providing capabilities to view and manage the system user account credentials. When a System User account is created, the user details can be modified using the Change Authentication Credential Task service.
		Version V1.0
	</wsdl:documentation>
	<!-- Show support for WS-Policy and the attachment of policy assertions -->
	<wsp:UsingPolicy wsdl:Required="true"/>
	<!-- The categorisation of the service as defined by the service architecture -->
	<wssem:category name="TaskService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1" elementFormDefault="qualified">
			<xsd:import namespace="http://group.vodafone.com/schema/vbm/identity/authentication-credential/v1" schemaLocation="../../../../../Schema/VBO/Identity/AuthenticationCredential/V1/AuthenticationCredentialVBM.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../../Schema/Fault.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../../Schema/Header.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<!--Service Operations Message Structures -->
		<wsdl:message name="ChangeAuthenticationCredentialReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the ChangeAuthenticationCredential operation
		</wsdl:documentation>
		<wsdl:part name="AuthenticationCredentialDetails" element="vbm:ChangeAuthenticationCredentialVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="ChangeAuthenticationCredentialRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the ChangeAuthenticationCredential operation
		</wsdl:documentation>
		<wsdl:part name="AuthenticationCredentialDetails" element="vbm:ChangeAuthenticationCredentialVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="CheckAuthenticationCredentialReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the CheckAuthenticationCredential operation
		</wsdl:documentation>
		<wsdl:part name="AuthenticationCredentialDetails" element="vbm:CheckAuthenticationCredentialVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="CheckAuthenticationCredentialRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the CheckAuthenticationCredential operation
		</wsdl:documentation>
		<wsdl:part name="ChangeAuthenticationCredentialDetails" element="vbm:CheckAuthenticationCredentialVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="ResetAuthenticationCredentialReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the ResetAuthenticationCredential operation
		</wsdl:documentation>
		<wsdl:part name="AuthenticationCredentialDetails" element="vbm:ResetAuthenticationCredentialVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="ResetAuthenticationCredentialRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the ResetAuthenticationCredential operation
		</wsdl:documentation>
		<wsdl:part name="AuthenticationCredentialDetails" element="vbm:ResetAuthenticationCredentialVBMResponse"/>
	</wsdl:message>

	<!--Supporting Messages-->
	<wsdl:message name="VodafoneFault">
		<wsdl:documentation>
		This message is used for propagating Error Context and Error Message
    </wsdl:documentation>
		<wsdl:part name="VodafoneFault" element="vfo:Fault"/>
	</wsdl:message>
	<wsdl:message name="MessageHeaders">
		<wsdl:documentation>
			This message is used as the header for SOAP request			
		</wsdl:documentation>
		<wsdl:part name="Source" element="vho:Source"/>
		<wsdl:part name="Correlation" element="vho:Correlation"/>
		<wsdl:part name="Cache" element="vho:Cache"/>
		<wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
		<wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
		<wsdl:part name="Destination" element="vho:Destination"/>
	</wsdl:message>

	<wsdl:portType name="AuthenticationCredentialInterface">
	<wsdl:documentation>
		This interface contains operations for the ChangeAuthenticationCredential API
	</wsdl:documentation>
	
	<wsdl:operation name="ChangeAuthenticationCredential">
		<wsdl:documentation>
			This operation is used to ChangeAuthenticationCredential 
		</wsdl:documentation> 
			<wsdl:input name="ChangeAuthenticationCredentialRequest" message="vbs:ChangeAuthenticationCredentialReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1/"/>
			<wsdl:output name="ChangeAuthenticationCredentialResponse" message="vbs:ChangeAuthenticationCredentialRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>

	<wsdl:operation name="CheckAuthenticationCredential">
		<wsdl:documentation>
			This operation is used to CheckAuthenticationCredential 
		</wsdl:documentation> 
			<wsdl:input name="CheckAuthenticationCredentialRequest" message="vbs:CheckAuthenticationCredentialReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1/"/>
			<wsdl:output name="CheckAuthenticationCredentialResponse" message="vbs:CheckAuthenticationCredentialRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
		
	<wsdl:operation name="ResetAuthenticationCredential">
		<wsdl:documentation>
			This operation is used to ResetAuthenticationCredential 
		</wsdl:documentation> 
			<wsdl:input name="ResetAuthenticationCredentialRequest" message="vbs:ResetAuthenticationCredentialReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1/"/>
			<wsdl:output name="ResetAuthenticationCredentialResponse" message="vbs:ResetAuthenticationCredentialRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AuthenticationCredentialInterface-SOAP11-HTTPBinding" type="vbs:AuthenticationCredentialInterface">
	<wsdl:documentation>
		This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol 
	</wsdl:documentation> 
	<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<!-- Use WS-Addressing v1.0 --> 
	<wsaw:UsingAddressing wsdl:required="true"/>
	<wsdl:operation name="ChangeAuthenticationCredential">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1/" style="document"/>
			<wsdl:input name="ChangeAuthenticationCredentialRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ChangeAuthenticationCredentialResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	<wsdl:operation name="CheckAuthenticationCredential">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1/" style="document"/>
			<wsdl:input name="CheckAuthenticationCredentialRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CheckAuthenticationCredentialResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	<wsdl:operation name="ResetAuthenticationCredential">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/identity/change-authentication-credential/v1/" style="document"/>
			<wsdl:input name="ResetAuthenticationCredentialRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ResetAuthenticationCredentialResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>