OSB-Build-Package/OSB-Artifacts/VFQA_CSM_Common/Schema/VBO/Identity/CustomerSystemUserAccount/V1/CustomerSystemUserAccountVBO.xsd

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><xsd:schema targetNamespace="http://group.vodafone.com/schema/vbo/identity/customer-system-user-account/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://group.vodafone.com/schema/vbo/identity/customer-system-user-account/v1" xmlns:extvbo="http://group.vodafone.com/schema/extension/vbo/identity/customer-system-user-account/v1" xmlns:cct="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" xmlns:cmn="http://group.vodafone.com/schema/common/v1">
	<xsd:annotation>
		<xsd:documentation>Schema definition for CustomerSystemUserAccount.</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://group.vodafone.com/schema/common/v1" schemaLocation="../../../../CommonComponents.xsd"/>
	<xsd:import namespace="http://group.vodafone.com/schema/extension/vbo/identity/customer-system-user-account/v1" schemaLocation="Extension/ExtendedCustomerSystemUserAccountVBO.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" schemaLocation="../../../../CoreComponentType_2p0.xsd"/>
	<xsd:import namespace="http://group.vodafone.com/schema/common/v1" schemaLocation="../../../../Meta.xsd"/>
	<xsd:complexType name="CustomerSystemUserAccountVBOType">
		<xsd:annotation>
			<xsd:documentation>
				A Customer System User Account is a collection of data associated with a particular customer user of MyVodafone. In other words, the Customer of Vodafone Systems whose User Account is required to identify and hold details about customer in relation to their usage of services provided by Vodafone.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:ExtendedBaseComponentType">
				<xsd:sequence>
					<xsd:element name="Details" type="tns:CustomerSystemUserAccountDetailsType" minOccurs="0"/>
					<xsd:element name="RelatedCustomerSystemUserAccounts" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RelatedCustomerSystemUserAccount" type="tns:RelatedCustomerSystemUserAccountType" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Roles" type="tns:CustomerSystemUserAccountRolesType" minOccurs="0"/>
					<xsd:element name="Parts" type="tns:CustomerSystemUserAccountPartsType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedCustomerSystemUserAccountVBOType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerSystemUserAccountDetailsType">
		<xsd:annotation>
			<xsd:documentation> A type definition for CustomerSystemUserAccount Details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Extension" type="extvbo:ExtendedCustomerSystemUserAccountDetailsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelatedCustomerSystemUserAccountType">
		<xsd:annotation>
			<xsd:documentation>A type definition for Related CustomerSystemUserAccount Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="Extension" type="extvbo:ExtendedRelatedCustomerSystemUserAccountType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerSystemUserAccountPartsType">
		<xsd:sequence>
			<xsd:element name="ITSystem" type="tns:ITSystemType" minOccurs="0"/>
			<xsd:element name="CustomerAccount" type="tns:CustomerAccountType" minOccurs="0"/>
			<xsd:element name="Subscriptions" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Subscription" type="tns:SubscriptionsType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Preferences" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Preference" type="tns:CustomerSystemUserAccountPreferencesType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Permissions" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Permission" type="tns:CustomerSystemUserAccountPermissionsType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Credentials" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Credential" type="tns:CustomerSystemUserAccountCredentialsType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AccountLogins" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AccountLogin" type="tns:CustomerSystemUserAccountLoginType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Specification" type="tns:SpecificationType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedCustomerSystemUserAccountPartsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerSystemUserAccountRolesType">
		<xsd:sequence>
			<xsd:element name="Holder" type="tns:HolderType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Administrator" type="tns:AdministratorType" minOccurs="0"/>
			<xsd:element name="Extension" type="extvbo:ExtendedCustomerSystemUserAccountRolesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HolderType">
		<xsd:complexContent>
			<xsd:extension base="cmn:IndividualRoleType">
				<xsd:sequence>
					<xsd:element name="ContactPoints" type="tns:CustomerSystemUserAccountContactPointType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedHolderType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AdministratorType">
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="Extension" type="extvbo:ExtendedAdministratorType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ITSystemType">
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="SystemAccessURL" type="cct:URIType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedITSystemType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerAccountType">
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="Extension" type="extvbo:ExtendedCustomerAccountType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SubscriptionsType">
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="MSISDN" type="cct:TextType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedSubscriptionsType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerSystemUserAccountPreferencesType">
		<xsd:complexContent>
			<xsd:extension base="cmn:PreferenceType">
				<xsd:sequence>
					<xsd:element name="Extension" type="extvbo:ExtendedPreferencesType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerSystemUserAccountPermissionsType">
		<xsd:complexContent>
			<xsd:extension base="cmn:PermissionType">
				<xsd:sequence>
					<xsd:element name="Created" type="cct:DateTimeType" minOccurs="0"/>
					<xsd:element name="LastModifiedBy" type="cct:IDType" minOccurs="0"/>
					<xsd:element name="ValidityPeriod" type="cmn:ValidityPeriodType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedPermissionsType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerSystemUserAccountCredentialsType">
		<xsd:complexContent>
			<xsd:extension base="cmn:CredentialsGroupType">
				<xsd:sequence>
					<xsd:element name="ValidityPeriod" type="cmn:ValidityPeriodType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedCredentialsType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerSystemUserAccountLoginType">
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="LoginAttempt" type="cct:QuantityType" minOccurs="0"/>
					<xsd:element name="LoginSuccess" type="cct:IndicatorType" minOccurs="0"/>
					<xsd:element name="LoginFailureReason" type="cct:TextType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedAccountLoginType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CustomerSystemUserAccountContactPointType">
		<xsd:sequence>
			<xsd:element name="ContactPoint" type="cmn:ContactPointType" maxOccurs="unbounded"/>
			<xsd:element name="Extension" type="extvbo:ExtendedCustomerUserAccountContactPointType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CharactersticsValueType">
		<xsd:complexContent>
			<xsd:extension base="cmn:CharactersticsValueType">
				<xsd:attribute name="characteristicName" type="xsd:string" use="optional"/>
				<xsd:attribute name="actionCode" type="cmn:ActionCodeType" use="optional"/>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CharacteristicsListType">
		<xsd:sequence>
			<xsd:element name="CharacteristicsValue" type="tns:CharactersticsValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecificationType">
		<xsd:complexContent>
			<xsd:extension base="cmn:BaseComponentType">
				<xsd:sequence>
					<xsd:element name="Characteristics" type="tns:CharacteristicsListType" minOccurs="0"/>
					<xsd:element name="Extension" type="extvbo:ExtendedCustomerUserAccountSpecificationType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>