OSB-Build-Package/Package/Oracle/Middleware/oracle_common/sysman/admin/dtds/TargetInstance.dtd

<!-- Copyright (c) 2008, Oracle. All rights reserved.-->

<!-- 

   DESCRIPTION:
        
        This file define the EMD target definition


   MODIFIED    (MM/DD/YY)  
      njagathe  07/22/08 - 
      kganapat  06/12/06 - Add EMD_URL attribute support
      xxu       08/09/05 - bug 4545010: change to AGENT_TOKEN 
      nigandhi  03/04/05 - Adding STATUS attr 
      njagathe  09/27/04 - Change Association attributes 
      xxu       12/02/03 - save agentSeed in targets.xml 
      njagathe  12/02/03 - Update separator 
      njagathe  11/26/03 - Allowing multiple parents 
      aaitghez  11/24/03 - review comments 
      aaitghez  11/06/03 - bug 3223483. add PARENT_AGENT_HOME_ID 
      rzkrishn  07/17/03 - adding IS_MASTER as attribute of target visible only on the EMD side
      njagathe  04/23/03 - Adding Member tag
      xxu       02/10/03 - add AssocTargetInstance
      aaitghez  02/17/03 - add PARENT_AGENT_HOME
      njagathe  01/08/03 - Add NO_EMD_URL, TIMEZONE_REGION support
      itarashc  01/21/03 - fix bugs
      njagathe  10/29/02 - Adding IS_DYNAMIC attribute to target properties
      njagathe  10/16/02 - Adding DISABLED attribute
      cfowler   08/09/02 - Fix DTD syntax errors
      njagathe  08/06/02 - Add COLL_LEVEL comm-only attribute
      lyang     05/09/02 - lyang_move_emsdk_common
      gachen    02/12/02 - send broken reason for bad target
      gachen    02/08/02 - set Type Display Name in target
      njagathe  07/09/01 - Remove VERSION attributes
      njagathe  04/06/01 - Comments for ON_HOST
      njagathe  04/05/01 - Adding ON_HOST
      njagathe  02/23/01 - Change TargetInstance -> Target
      njagathe  02/22/01 - Remove Address, Credential tags
      njagathe  02/20/01 - Fix changes to reflect latest changes
      gachen    02/07/01 - make DTD valid
      gachen    02/07/01 - add association
      njagathe  01/09/01 - Updating TargetInstance TAGNAME
      njagathe  12/06/00 - Initial versions
-->

<!--
 
    Targets is the container tag for multiple Target tags 

-->

<!ELEMENT Targets (Target*) >
<!ATTLIST Targets
          AGENT_SEED CDATA #IMPLIED
          AGENT_TOKEN CDATA #IMPLIED
>

<!-- 
  
    Target defines a target instance, it may also define Properties 
    and composite memberships relation to other targets

    TYPE(required)      : the target type.
    NAME(required)      : the target name.  It must be unique within a type 
                          across all nodes.

    DISPLAY_NAME(optional)      : the display name for a target.will be default
                                  to NAME if not given.

    ON_HOST(optional): specify the name of the  host on which the target 
                       exists. Its normally not used and only required 
                       for situations where this EMD is proxying for the 
                       target and performing  remote monitoring.

    NO_EMD_URL(optional): If set to TRUE, will cause the agent to upload a 
                          NULL for the EMD_URL column for this target.

    EMD_URL(optional): This attribute is not used on the agent side,
                       but may be useful when storing targets from multiple
                       agents in a single target list file

    TIMEZONE_REGION(optional): If set, is used by the agent to upload as the 
                               TIMEZONE of this target (rather than the agent's
                               own TIMEZONE value).

    STATUS(optional): The value for this attributes indicates target Status
                    MONITORED - Target is currently monitored
                    DELETED - Marks this target for deletion.
                    DISABLED - Target is disabled.
                    PENDING - Target is pending.
    xxxxxxxxxx
           The following are comm-only attributes : these are not read by
           the C EMD, but written out across the wire to be available to 
           the middle tier 
    xxxxxxxxxx

    TYPE_DISPLAY_NAME(comm only): display name for the target type. 
                                  It is used in EMDClient only.  

    BROKEN_REASON( comm only):  the broken reason for this target. will be set 
                                by TargetManager.
    BROKEN_CODE( comm only):  the ORing of the different reasons why the 
                              target is considered broken.

    LEVEL( comm only):  the collection level (if any) currently set for 
                             the target

    xxxxxxxxxx
           End comm-only properties
    xxxxxxxxxx

    DISABLED : If set to true, causes the target to be marked broken by the 
               agent. No monitoring occurs for this target.

    VERSION:  Obsoleted.  
    

    IS_MASTER (optional, targets.xml only): 
         Is a boolean that says whether this agent monitoring this 
     target is the master agent for this target. It is used only for OMS
     mediated targets. The value is persisted in order to avoid the agent
     forget whether it was the master agent earlier for the OMS mediated target
     if it goes down for a very brief period. Also OMS doesn't have to send
     information often avoiding network traffic in such cases.  this attribute
     is not visible outside the agent either to OMS or console.

    The following PARENT_ properties are used in a central agent targets.xml 
    to track the source of the targets (if they are being pushed from "product"
    homes, such as iAS or DB). Each of these properties can end up containing
    a list of entries each separated by "|:|"

    PARENT_AGENT_HOME : IS a string used by a central agent install.
    This central agent needs to be able to associate the target it has
    in its targets.xml file with a specific target console install
    to ensure that only that agent install can modify the target in
    case of naming conflicts across target consoles.

    PARENT_ORACLE_HOME : The ORACLE_HOME (binary home) of the 
    product home a target is associated with.

    PARENT_AGENT_HOME_ID : Is a random ID generated by the parent
    agent to authenticate a central agent.  In any given targets.xml
    all targets with the same PARENT_AGENT_HOME have the same 
    PARENT_AGENT_HOME_ID

-->

<!ELEMENT Target (Property*, AssocTargetInstance*, CompositeMembership?) >
<!ATTLIST Target
          TYPE                CDATA #REQUIRED
          NAME                CDATA #REQUIRED
          DISPLAY_NAME        CDATA #IMPLIED
          ON_HOST             CDATA #IMPLIED
          NO_EMD_URL          (TRUE | FALSE) "FALSE"
          EMD_URL             CDATA #IMPLIED
          TIMEZONE_REGION     CDATA #IMPLIED
          STATUS              (MONITORED | DISABLED | DELETED | PENDING) "MONITORED"

          TYPE_DISPLAY_NAME   CDATA #IMPLIED         
          BROKEN_REASON       CDATA #IMPLIED
          BROKEN_CODE         CDATA #IMPLIED
          LEVEL               CDATA #IMPLIED

          DISABLED            (TRUE | FALSE) "FALSE"

          VERSION             CDATA #IMPLIED 
	  PARENT_ORACLE_HOME  CDATA #IMPLIED
	  PARENT_AGENT_HOME   CDATA #IMPLIED
	  PARENT_AGENT_HOME_ID   CDATA #IMPLIED
          IS_MASTER           ( TRUE | FALSE ) #IMPLIED
>

<!-- 
    A Property tag describes a name-value pair

    NAME(required)      : the property name .
    VALUE(required)     : the property value.

    ENCRYPTED (optional) : Should the property be encrypted, and is it 
                           currently in an encrypted state.
                           Valid values are
                             NA - should not encrypt, not encrypted, 
                             FALSE - should be encrypted, not encrypted
                             TRUE -  should be encrypted, encrypted

    IS_DYNAMIC (optional) : Is the property value dynamic - will it be 
                            recomputed
-->
<!ELEMENT Property EMPTY>
<!ATTLIST Property
          NAME CDATA #REQUIRED
          VALUE CDATA #REQUIRED
          ENCRYPTED (NA | FALSE | TRUE ) "NA"
          IS_DYNAMIC (FALSE | TRUE ) "FALSE"
>

<!-- A AssocTargetInstance tag describes an associated target instance

    The list of attributes for this element have changed in 10.2

    Prior to 10.2
    ASSOC_TARGET (required): the assoc target
    TYPE (required)        : the assoc target type
    NAME (required)        : the assoc target name

    Starting from 10.2
    ASSOCIATION_NAME (required) : Previously ASSOC_TARGET
    SOURCE_TARGET_NAME (optional) : Denotes the source tgt of an association
    SOURCE_TARGET_TYPE (optional) : Denotes the source tgt of an association
    ASSOC_TARGET_NAME (required) : Previously NAME
    ASSOC_TARGET_TYPE (required) : Previously TYPE

    Even though the DTD below does not indicate it, every AssocTargetInstance
    element must have one each of  
     a) ASSOC_TARGET or ASSOCIATION_NAME
     b) TYPE or ASSOC_TARGET_TYPE
     c) NAME or ASSOC_TARGET_NAME
-->
<!ELEMENT AssocTargetInstance EMPTY>
<!ATTLIST AssocTargetInstance
          ASSOC_TARGET CDATA #IMPLIED
          TYPE         CDATA #IMPLIED
          NAME         CDATA #IMPLIED

          ASSOCIATION_NAME       CDATA     #IMPLIED
          SOURCE_TARGET_NAME     CDATA     #IMPLIED
          SOURCE_TARGET_TYPE     CDATA     #IMPLIED
          ASSOC_TARGET_NAME      CDATA     #IMPLIED
          ASSOC_TARGET_TYPE      CDATA     #IMPLIED
>

<!-- A CompositeMembership tag groups membership information of the target

    The memberships are declared via individual MemberOf or Member tags
-->
<!ELEMENT CompositeMembership ((MemberOf | Member) +) >

<!-- MemberOf tags are contained within a CompositeMembership

    Each of them describe a global composite target to which this target
    instance belongs
-->
<!ELEMENT MemberOf EMPTY>
<!ATTLIST MemberOf
          TYPE CDATA #REQUIRED
          NAME CDATA #REQUIRED
          ASSOCIATION CDATA #IMPLIED>

<!-- Member tags are contained within a CompositeMembership

    Each of them describe a target that is part of this target

    (Supported starting from ver 4.1)
-->
<!ELEMENT Member EMPTY>
<!ATTLIST Member
          TYPE CDATA #REQUIRED
          NAME CDATA #REQUIRED
          ASSOCIATION CDATA #IMPLIED>

