OSB-Build-Package/Package/Oracle/Middleware/Oracle_OSB1/eclipse150/plugins/com.bea.alsb.common.mapper_1.5.0/samples/schemas/CustInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.creditpo.org/CustInfo" xmlns="http://www.creditpo.org/CustInfo" elementFormDefault="qualified">
 <xs:element name="customer" >
    <xs:complexType>
        <xs:sequence>
             <xs:element name="customer-id" type="xs:string"/>
             <xs:element name="customer-name" type="xs:string"/>
             <xs:element name="customer-address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
