OSB-Build-Package/Package/Oracle/Middleware/Oracle_OSB1/eclipse150/plugins/com.bea.alsb.common.mapper_1.5.0/samples/schemas/PODate.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.acme.org/PODate" xmlns="http://www.acme.org/PODate" elementFormDefault="qualified">
    <xs:element name="PODate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="billing-date" minOccurs="1" maxOccurs="1" type="xs:string" />
                <xs:element name="delivery-date" minOccurs="1" maxOccurs="1" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
