OSB-Build-Package/Package/Oracle/Middleware/Oracle_OSB1/eclipse150/plugins/com.bea.alsb.common.mapper_1.5.0/samples/schemas/Product.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.acme.org/Product" xmlns="http://www.acme.org/Product" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:complexType name="productType">
        <xs:sequence>
            	<xs:element name="part-description" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
            	<xs:element name="child-product" minOccurs="0" maxOccurs="unbounded" type="productType" />
        </xs:sequence>
</xs:complexType>
<xs:element name="product" type="productType">
</xs:element>
</xs:schema>
