OSB-Build-Package/Package/Oracle/Middleware/Oracle_OSB1/eclipse150/plugins/com.bea.alsb.common.mapper_1.5.0/samples/schemas/PurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/PurchaseOrder" xmlns="http://www.example.org/PurchaseOrder" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PurchaseOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="partId" type="xs:decimal"/>
				<xs:element name="quantity" type="xs:decimal"/>
				<xs:element name="maxVolumeForSupplier" type="xs:decimal" minOccurs="0"/>
				<xs:element name="countryCode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
