OSB-Build-Package/Package/Oracle/Middleware/Oracle_OSB1/eclipse150/plugins/com.bea.alsb.common.mapper_1.5.0/samples/schemas/regroupKeyFldIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by jayanthi (bea) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.creditpo.org/repkeyin" xmlns="http://www.creditpo.org/repkeyin" elementFormDefault="qualified">
	<xs:element name="input-warehouse-inventory" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="input-line-item" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="input-warehouse-id" type="xs:string" minOccurs="0" />
              <xs:element name="input-location-desc" type="xs:string" minOccurs="0" />
              <xs:element name="input-part-no" type="xs:string" minOccurs="0" />
              <xs:element name="input-quantity" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
