OSB-Build-Package/Package/Oracle/Middleware/Oracle_OSB1/eclipse150/plugins/com.bea.alsb.common.mapper_1.5.0/samples/schemas/regroupKeyFldOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by jayanthi (bea) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.creditpo.org/repkeyout" xmlns="http://www.creditpo.org/repkeyout" elementFormDefault="qualified">
	<xs:element name="output-inventory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="output-warehouse-inventory" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="output-line-item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="output-part-no"/>
				<xs:element ref="output-quantity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="output-location-desc">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Location1"/>
				<xs:enumeration value="Location2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="output-part-no">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="output-quantity">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="10"/>
				<xs:enumeration value="20"/>
				<xs:enumeration value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="output-warehouse-id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Warehouse1"/>
				<xs:enumeration value="Warehouse2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="output-warehouse-inventory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="output-warehouse-id"/>
				<xs:element ref="output-location-desc"/>
				<xs:element ref="output-line-item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
