OSB-Build-Package/OSB-Artifacts/VFQA_CSM_Common/WSDL/VBS/Identity/CustomerSystemUserAccount/V1/CustomerSystemUserAccountVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><wsdl:definitions name="CustomerSystemUserAccount" targetNamespace="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/identity/customer-system-user-account/v1" xmlns:vbs="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">
	<wsdl:documentation>
	    A Customer System User Account is a collection of data associated with a particular customer user of MyVodafone. In other words, the Customer of Vodafone Systems whose User Account is required to identify and hold details about customer in relation to their usage of services provided by Vodafone.
		Version V1.0
	</wsdl:documentation>
	<!-- Show support for WS-Policy and the attachment of policy assertions -->
	<wsp:UsingPolicy wsdl:Required="true"/>
	<!-- The categorisation of the service as defined by the service architecture -->
	<wssem:category name="EntityService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1" elementFormDefault="qualified">
			<xsd:import namespace="http://group.vodafone.com/schema/vbm/identity/customer-system-user-account/v1" schemaLocation="../../../../../Schema/VBO/Identity/CustomerSystemUserAccount/V1/CustomerSystemUserAccountVBM.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../../Schema/Fault.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../../Schema/Header.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<!--Service Operations Message Structures -->
		<wsdl:message name="CreateCustomerSystemUserAccountReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the CreateCustomerSystemUserAccount operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountDetails" element="vbm:CreateCustomerSystemUserAccountVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateCustomerSystemUserAccountRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the CreateCustomerSystemUserAccount operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountDetails" element="vbm:CreateCustomerSystemUserAccountVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateCustomerSystemUserAccountReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the UpdateCustomerSystemUserAccount operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountDetails" element="vbm:UpdateCustomerSystemUserAccountVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateCustomerSystemUserAccountRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the UpdateCustomerSystemUserAccount operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountDetails" element="vbm:UpdateCustomerSystemUserAccountVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerSystemUserAccountListReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the GetCustomerSystemUserAccountList operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountCriteria" element="vbm:GetCustomerSystemUserAccountListVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerSystemUserAccountListRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the GetCustomerSystemUserAccountList operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountList" element="vbm:GetCustomerSystemUserAccountListVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="SyncCustomerSystemUserAccountReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the SyncCustomerSystemUserAccount operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountDetails" element="vbm:SyncCustomerSystemUserAccountVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="SyncCustomerSystemUserAccountRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the SyncCustomerSystemUserAccount operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountDetails" element="vbm:SyncCustomerSystemUserAccountVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="NotifyCustomerSystemUserAccountReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the NotifyCustomerSystemUserAccount operation
		</wsdl:documentation>
		<wsdl:part name="CustomerSystemUserAccountCriteria" element="vbm:NotifyCustomerSystemUserAccountVBMRequest"/>
	</wsdl:message>

	<!--Supporting Messages-->
	<wsdl:message name="VodafoneFault">
		<wsdl:documentation>
		This message is used for propagating Error Context and Error Message
    </wsdl:documentation>
		<wsdl:part name="VodafoneFault" element="vfo:Fault"/>
	</wsdl:message>
	<wsdl:message name="MessageHeaders">
		<wsdl:documentation>
			This message is used as the header for SOAP request			
		</wsdl:documentation>
		<wsdl:part name="Source" element="vho:Source"/>
		<wsdl:part name="Correlation" element="vho:Correlation"/>
		<wsdl:part name="Cache" element="vho:Cache"/>
		<wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
		<wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
		<wsdl:part name="Destination" element="vho:Destination"/>
	</wsdl:message>

	<wsdl:portType name="CustomerSystemUserAccountInterface">
	<wsdl:documentation>
		This interface contains operations for the CustomerSystemUserAccount API
	</wsdl:documentation>
	<wsdl:operation name="CreateCustomerSystemUserAccount">
		<wsdl:documentation>
			This operation is used to CreateCustomerSystemUserAccount 
		</wsdl:documentation> 
			<wsdl:input name="CreateCustomerSystemUserAccountRequest" message="vbs:CreateCustomerSystemUserAccountReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/create"/>
			<wsdl:output name="CreateCustomerSystemUserAccountResponse" message="vbs:CreateCustomerSystemUserAccountRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	<wsdl:operation name="UpdateCustomerSystemUserAccount">
		<wsdl:documentation>
			This operation is used to UpdateCustomerSystemUserAccount 
		</wsdl:documentation> 
			<wsdl:input name="UpdateCustomerSystemUserAccountRequest" message="vbs:UpdateCustomerSystemUserAccountReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/update"/>
			<wsdl:output name="UpdateCustomerSystemUserAccountResponse" message="vbs:UpdateCustomerSystemUserAccountRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	<wsdl:operation name="GetCustomerSystemUserAccountList">
		<wsdl:documentation>
			This operation is used to GetCustomerSystemUserAccountList 
		</wsdl:documentation> 
			<wsdl:input name="GetCustomerSystemUserAccountListRequest" message="vbs:GetCustomerSystemUserAccountListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/get-list"/>
			<wsdl:output name="GetCustomerSystemUserAccountListResponse" message="vbs:GetCustomerSystemUserAccountListRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	<wsdl:operation name="SyncCustomerSystemUserAccount">
		<wsdl:documentation>
			This operation is used to SyncCustomerSystemUserAccount 
		</wsdl:documentation> 
			<wsdl:input name="SyncCustomerSystemUserAccountRequest" message="vbs:SyncCustomerSystemUserAccountReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/sync"/>
			<wsdl:output name="SyncCustomerSystemUserAccountResponse" message="vbs:SyncCustomerSystemUserAccountRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="CustomerSystemUserAccountEventInterface">
	<wsdl:documentation>
		This interface contains operations for the CustomerSystemUserAccount Event API
	</wsdl:documentation>
		<wsdl:operation name="NotifyCustomerSystemUserAccount">
		<wsdl:documentation>
			This operation is used to NotifyCustomerSystemUserAccount 
		</wsdl:documentation> 
			<wsdl:input name="NotifyCustomerSystemUserAccountRequest" message="vbs:NotifyCustomerSystemUserAccountReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/notify"/>
		</wsdl:operation>
	</wsdl:portType>


		<wsdl:binding name="CustomerSystemUserAccountInterface-SOAP11-HTTPBinding" type="vbs:CustomerSystemUserAccountInterface">
	<wsdl:documentation>
		This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol 
	</wsdl:documentation> 
	<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<!-- Use WS-Addressing v1.0 --> 
	<wsaw:UsingAddressing wsdl:required="true"/>
	<wsdl:operation name="CreateCustomerSystemUserAccount">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/create" style="document"/>
			<wsdl:input name="CreateCustomerSystemUserAccountRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateCustomerSystemUserAccountResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	<wsdl:operation name="UpdateCustomerSystemUserAccount">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/update" style="document"/>
			<wsdl:input name="UpdateCustomerSystemUserAccountRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateCustomerSystemUserAccountResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	<wsdl:operation name="GetCustomerSystemUserAccountList">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/get-list" style="document"/>
			<wsdl:input name="GetCustomerSystemUserAccountListRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetCustomerSystemUserAccountListResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	<wsdl:operation name="SyncCustomerSystemUserAccount">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/sync" style="document"/>
			<wsdl:input name="SyncCustomerSystemUserAccountRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SyncCustomerSystemUserAccountResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CustomerSystemUserAccountEventInterface-SOAP11-HTTPBinding" type="vbs:CustomerSystemUserAccountEventInterface">
	<wsdl:documentation>
		This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol 
	</wsdl:documentation> 
	<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<!-- Use WS-Addressing v1.0 --> 
	<wsaw:UsingAddressing wsdl:required="true"/>
	<wsdl:operation name="NotifyCustomerSystemUserAccount">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/identity/customer-system-user-account/v1/notify" style="document"/>
			<wsdl:input name="NotifyCustomerSystemUserAccountRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	
</wsdl:definitions>